body {
    display: flex;
    height: 100%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: lawngreen;
}

.gif {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}